# Ignore everything by default
/*
# Allow specific directories and files
!/app/
!/config/
!/database/
!/resources/
!/routes/
!.gitignore
!composer.json
!composer.lock
!README.md
# Ignore database/database_start and its contents
database/database_start/

# NEW RULES START HERE
# Ignore everything in public/ by default (but this is handled by /* already)
# So we only need to explicitly allow the path we want
/public/*
!/public/assets/
!/public/assets/js/
!/public/assets/js/lab/